<div class="footer">
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <ul class="list-unstyled d-flex flex-column">
      <li class="section-title">Get in touch</li>
      <li class="footer-link">About Us</li>
      <li class="footer-link">Careers</li>
      <li class="footer-link">Press Releases</li>
      <li class="footer-link">Blog</li>
    </ul>
    <ul class="list-unstyled d-flex flex-column">
      <li class="section-title">Connections</li>
      <li class="footer-link">Facebook</li>
      <li class="footer-link">Twitter</li>
      <li class="footer-link">Instagram</li>
      <li class="footer-link">Youtube</li>
      <li class="footer-link">LinkedIn</li>
    </ul>
    <div class="list-unstyled d-flex flex-column">
      <a class="section-title">Earnings</a>
      <a class="footer-link">Become an Affiliate</a>
      <a class="footer-link">Advertise your product</a>
      <a class="footer-link">Sell on Market</a>
    </div>
    <ul class="list-unstyled d-flex flex-column">
      <li class="section-title">Account</li>
      <li class="footer-link">Your account</li>
      <li class="footer-link">Returns Centre</li>
      <li class="footer-link">100 % purchase protection</li>
      <li class="footer-link">Chat with us</li>
      <li class="footer-link">Help</li>
    </ul>

  </div>
  <div class="copyright">
    Copyright © 2020 petrbilek.com
  </div>
</div>
